
      {{!-- Display message to prompt user to login --}}
      <div class="row">
        <div class="col-auto">
          <h3>Welcome, {{name}}!</h3>
        </div>
      </div>

      <script type="text/x-handlebars-template" id="msg">
        <h4>Please <a href="/login">Login or Sign up</a> to gain access to all the content on Tech Blog!</h4>
      </script>
      <div id="dispMsg">
      </div>

      <!-- Render the sub layout -->
      {{{ body }}}

  </div>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
