header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

a {
  color: white;
}

h4 {
  color: darkblue;
  /* font-family: cursive; */
  padding-bottom: 1.5rem;
}

form {
  padding-bottom: 1.5rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.custom-header {
  background-color: black;
  color: white;
}

.header-img {
  width: 100%;
  height: 300px;
  background: url('/images/tech_blog.jpg');
  background-size: cover;
}

.custom-post {
  border: 2px solid #2C3E50;
  border-radius: 10px;
  color: white;
  background-color: black;
  height: 10%;
}

.post-title {
  color: white;
}

.post-desc {
  background-color: white;
  color: black;
}

.post-details {
  align-self: end;
}

.custom-modal {
  color : blue;
  text-decoration: underline;
}