header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}


h4 {
  color: brown;
  font-family: cursive;
  padding-bottom: 1.5rem;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

